.loaderBox {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.loaderDots span {
  width: 100px;
  height: 100px;
}
@media (max-width: 768px) {
  .loaderBox {
    padding: 15px;
  }
}
@media (max-width: 375px) {
  .loaderBox {
    padding: 10px;
  }
}
