.gallery {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 5px;
  margin: 10px 0 0;
}
.galleryItem {
  width: calc(100vw / 4 - 5px);
  height: calc(100vw / 4 - 5px);
  overflow: hidden;
}
.galleryItem div {
  width: 100%;
  height: 100%;
}
.galleryItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
