:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

a {
  transition: all 0.3s ease-in-out;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
input:focus {
  outline: none; /* убирает стандартную рамку */
  box-shadow: none; /* убирает "подсветку" */
}
