.moreBtn {
  font-size: 18px;
  margin: 10px 0;
  width: 100%;
  background-color: white;
  padding: 15px 0;
  font-weight: 500;
  color: #767676;
  border: 1px solid #d1d1d1;
}
.moreBtn:hover {
  color: #3746a6;
  border: 1px solid #3746a6;
}
@media (max-width: 375px) {
  .moreBtn {
    font-size: 14px;
    margin: 7px 0;
    width: 100%;
    padding: 10px 0;
  }
}
